 ### Basics

In [1]:
print("hello world")

hello world

In [2]:
a = 10
b = 10.5
c = "parth garg"
d = 1+2j

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

10
<class 'int'>
10.5
<class 'float'>
parth garg
<class 'str'>
(1+2j)
<class 'complex'>

### Taking Input

In [3]:
name = input("Enter your college name")
print(name)

Enter your college nameThapar University
Thapar University

### Reading Numbers and Typecasting

In [4]:
no = float(input("Enter a number "))
print(no)
print(no*no)
print(type(no))
print("Square of number is " + str(a*a))

Enter a number 3.1
3.1
9.610000000000001
<class 'float'>
Square of number is 100

### Print Function
- format
- end and sep

In [5]:
print("Hey","beautiful","person",sep="+")

Hey+beautiful+person

In [6]:
a = 10
b = 20
print(a,end=',')
print(b)

10,20

In [7]:
# Using format in print function
a = "Hey"
b = "Beautiful"
c = "People"
d = "Indians"

print("{0} loves {1}".format(c,d))

People loves Indians

In [8]:
# Using % in print function
a = 24
b = 34
print("We can make %d burgers , %d shakes and %d hotdogs"%(a,b,a))

We can make 24 burgers , 34 shakes and 24 hotdogs